// COLORS:
$red: #fa4753;
$black: #17181c;
$white: #ffffff;
$light_purple: #9ba5c9;
$light_purple_opacity: rgba(155, 165, 201, 0.1);
$yelow: yellow;

// FONTS:
$main_text: "Rubik", sans-serif;
$title_text: "Bebas Neue", cursive;

//FONT SIZES:
$title_size: 3em;
$text_size: 1em;

// BOX SHADOW
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$border-radius: 5px;
